<div class="background-container" [style.backgroundImage]="backgroundImageUrl">
    <div class="container login-container">
        <h2 class="text-center">Login</h2>
        <form class="form-container">
          <div class="form-group">
            <label for="email">Email address</label>
            <input  type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button (click)="login()" class="btn btn-primary btn-block">Login</button>
        </form>
        <a routerLink="/home">sign up</a>
      </div>

</div>